.index-wrapper {
  font-family: Futura;
  background-color: #1B3B6F;
  color:#FFFFFF;
  height:auto;
  width: auto;
}

.Portrait {
  width:260px;
  height:300px;
  background-size:cover;
  background-position:center;
  border-radius: 200px;
  margin:auto;
  margin-bottom: 30px;
}

.ProjectItem img {
  max-width: 100px;
  max-height: 100px;
  float:left;
  margin-right:10px;
  padding-right:20px;
}

.ProjectItem {
  padding:30px;
}

.ContactListItem {
  list-style-type: none;
  display:inline-block;
  position:relative;
  padding:40px;
}

.contact-list-items {
  text-align:center;
}

.homeContainer {
  height:auto;
  width:auto;
  text-align:center;
  background-image: url('http://i.imgur.com/InhQJQs.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.About {
  width:100%;
  height:100%;
  margin-top:600px;
}

.ContactContainer {
  background-color:#347FC4;
  text-align: center;
  padding-top:10px;
}

.AboutHeader {
  text-decoration:underline;
}

.Headline {
  text-align: center;
  padding-top: 200px;
}

.NameHome {
  font-size:100px;
  padding-bottom: 100px;
}

.Desc {
  font-size:40px;
}

.AboutContainer {
  text-align: center;
  padding: 75px;
}

.NameDeclaration {
  font-family: Ano;
}

.ProjectsContainer {
  background-color: #065A82;
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.ProjectTitle {
  text-align:center;
  padding-top:40px;
  text-decoration:underline;
}

.ContactDeclaration {
  padding-top: 30px;
  text-decoration:underline;
  text-align: center;
}

.FooterContainer {
  text-align: center;
  padding-bottom: 10px;
}
